/node_modules
/.dev
/public/hot
/public/storage
/storage/*.key
/storage/installed
/storage/activation
/storage/verified
/public/vendor/argonfront
storage/framework/views
/storage/multilanguagemigrated
/storage/auth0sync
/vendor
/modules/Flowmaker/node_modules
.aider*
/tigermodules
.env*
ngrok
.phpunit.result.cache
Homestead.json
Homestead.yamls
npm-debug.log
yarn-error.log
.diff-files.txt

**/caddy
frankenphp
frankenphp-worker.php
